* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 3vw;
}
button,
input {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #141414;
  overflow-x: hidden;
}

img {
  display: block;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 156, 156, 0.815) transparent;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(156, 156, 156, 0.815);
  border-radius: 20px;
  border: 1px solid transparent;
}